<div class = "box panel panel-default">
    <div class = "sidebar">
        <div id="top-link-block">
            <span class="well well-sm">
                <i class="glyphicon glyphicon-chevron-left"></i> <%= link_to "Back to Clubs" , clubs_path %>
            </span>
        </div>
      <br>
      <br>
      
      
        <% if logged_in? %>
          <!-- Check if the user is already a member if yes then do unsubscribe else subscribe -->
          <% if current_user.memClubs.include?(@club) %> 
          <span style="margin-right: -1px">
            <%= link_to "New Post", new_club_post_path , class: 'btn btn-success'  %>
            </span>
              <!--If current user is not a mod , then show the unsubscribe button-->
           
              <% unless @club.is_moderator?(current_user) %>
                <%= link_to 'Unsubscribe', membership_path(0, club_id: @club.id), method: :delete, data: { confirm: "Are you sure you want to leave?" } , class: 'btn btn-danger' %>
              <% end %>  
          <% else %>
              <%= link_to 'Subscribe', member_requests_path(club_id: @club.id), method: :post, class: 'btn btn-success' %>
          <% end %>
        <% end %>
        <br>
    
        <span style="background-color: #3366ff; color: white; padding: 6px; margin-right: 3px; margin-top: 3px; float: left; border-radius: 4px">
        <span class="glyphicon glyphicon-user"></span>&nbsp;Club Moderators: 
        </span>
        
        
        <% @moderators.each do |moderator| %>

           <span  style="background-color: #ff8433; color: white; padding: 6px; float: left; margin-right: 3px; margin-top: 3px; margin-bottom: 1px; border-radius: 4px"> <%= moderator.name %></span>
          <%end%>
          
    </div>
</div>



