<% provide(:title, 'All Clubs') %>







	<section id="body" class="width">
		<!--<aside id="sidebar" class="column-left">
    		<header>
    				<h1>Club Directory</h1>
    		</header>
    
                <nav class='verticalmenu'>
                    <ul>
                        <%= form_tag(clubs_path, :method => "get", id: "search-form") do %>
                            <%= text_field_tag :search, params[:search], placeholder: "Search Clubs" %>
                            <%= submit_tag "Search" %>
                        <% end %>

                    </ul>
                </nav>
		</aside>-->
		<section id="content" class="column-right">
    	    <article>
    			<h1>All Clubs</h1>
    			<div class="search_bar">
                <%= form_tag(clubs_path, :method => "get", id: "search-form") do %>
                            <%= text_field_tag :search, params[:search], placeholder: "Search Clubs" %>
                            <%= submit_tag "Search" %>
                <% end %>
                </div>
                <%= will_paginate @clubs %>
    
    
                <% cur_letter = nil %>
                <% @clubs.each do |club| %>
                <% title_letter = club.name[0].capitalize.match(/[A-Z]/) ? club.name[0].capitalize : "#" %>
                <% if title_letter != cur_letter %>
                <% cur_letter = title_letter %>
                <!--<p style="color:black"><%#= cur_letter %>:</p>-->
                <% end %>
                <div class= "clubindex">
                    
                        <%= image_tag(club.club_avatar.url(:thumb)) %>
                       
                        <span>
                        <h3><%= link_to club.name, build_club_path(club) %></h3>
                        
                         
                        genre: <%= club.genre %>
                        <br>
                        description:
                        <%= club.description %>
                        
                     </span>
                </div>
                <% end %>
            </article>
               
        </section>
    
    </article>
    		
    </section>
</section>


