<div id="top-link-block">
    <span class="well well-sm">
        <i class="glyphicon glyphicon-chevron-left"></i> <%= link_to "Back to Manage Your Clubs" , :back %>
    </span>
</div>

<h1>Manage Club <i class="glyphicon glyphicon-chevron-right"></i> <%= @club.name %></h1>






<div class="management_bar">
     <article>
        
        <h4>
            Pending Requests <span class="badge"><%= @club.member_requests.count %></span></h4>
            <h4><%= link_to "Manage Requests", manage_requests_path %></h4>
        
    </article>
    <article>
        <h4>Manage Club Members <span class="badge"><%= @club.members.count %></span></h4>
        <h4><%= link_to "Show All Members", manage_club_members_path %></h4>
    </article>
    <article>
        <h4><%= link_to "Design hompage", edit_club_path(@club) %></h4>
    </article>
   
    <article>
        <h4>Manage Posts <span class="badge"><%= @club.posts.count %></span></h4>
        <% if logged_in? and current_user.memClubs.include?(@club) %>
            <h4><%= link_to "Create new post", new_club_post_path %></h4>
            <h4><%= link_to "See All posts", view_club_path %></h4>
        <% end %>
    </article>
 
</div>


