<% provide(:title, @club.name) %>


<h1 class="headings">
  Welcome to <%= @club.name%>
</h1>

<div id = "posts" class = "transitions-enabled" >
  <%= render 'sidebar' %>
  <% @posts.each do |post| %>
  <% @post = post %>
     <% if @post.option=="isEvent" %>
     <div class = "box panel panel-default" style="border-color: green; border-width: 2px;">
    <%= render 'posts/heading' %>
    </div>
    <%else%>
    <div class = "box panel panel-default">
     <%= render 'posts/heading' %>
     </div>
    <%end%>
  <% end %>
  <br>
</div>




<%= will_paginate @posts %>

