<% provide(:title, @club.name) %>
<body style = "background-image:url(<%= @club.background.url %>)">

<h1 class="headings">
  Welcome to <%= @club.name%>
</h1>

<div id = "posts" class = "transitions-enabled" >
  <%= render 'sidebar' %>
  <% @posts.each do |post| %>
  <% @post = post %>
  
    <%= render 'posts/heading' %>
    
  <% end %>
  <br>
</div>

<%= will_paginate @posts %>
</body>