<% provide(:title, @club.name) %>
<body style = "background-image:url(<%= @club.background.url %>)">

<h1 class="headings">
  Welcome to <%= @club.name%>
</h1>



  
    <%= month_calendar events: @posts  do |date, post| %>
          <%= date.day %>
        
            <%# @clubs.each do |club|%>
            <%#@posts = Post.find_by option: 'false' %>
                <%# if posts.is_Event?  %>
            
                    <% post.each do |post| %>
                        <div>
                          <%if post.option == "false" %>
                          <%= post.title %>
                       </div>
                    
                <%# end %>
            <% end %>
            <%end%>
    <%end%>
    


<div id = "posts" class = "transitions-enabled" >
  <%= render 'sidebar' %>
  <% @posts.each do |post| %>
  <% @post = post %>
  
    <%= render 'posts/heading' %>
    
  <% end %>
  <br>
</div>




<%= will_paginate @posts %>
