<% provide(:title, @club.name) %>

<h1 class="headings">
  Welcome to <%= @club.name%>
</h1>

<% if logged_in? and current_user.memClubs.include?(@club) %>
<h4><%= link_to "Create new post", new_club_post_path %></h4>
<% end %>

<% if logged_in? %>
  <!-- Check if the user is already a member if yes then do unsubscribe else subscribe -->
  <% if current_user.memClubs.include?(@club) %> 
      <!--If current user is not a mod , then show the unsubscribe button-->
      <% unless @club.is_moderator?(current_user) %>
        <%= link_to 'unsubscribe', membership_path(0, club_id: @club.id), method: :delete, data: { confirm: "Are you sure you want to leave?" } , class: 'btn btn-danger' %>
      <% end %>  
  <% else %>
      <%= link_to 'subscribe', member_requests_path(club_id: @club.id), method: :post, class: 'btn btn-success' %>
  <% end %>
<% end %>

<div id = "posts" class = "transitions-enabled" >
  <% @posts.each do |post| %>
  <% @post = post %>
  
    <div class = "box panel panel-default">
        <% if @post.picture?  %>
          <%= link_to (image_tag @post.picture), build_post_path(@post) %>
        <% else %>
          <% if @post.image?  %>
          <%= link_to (image_tag @post.image.url), build_post_path(@post) %>
          <%end%>
        <%end%>
        
        <div class = "panel-body">
            <% if @post.url.blank? %>
                <h4><%= link_to raw(@post.title), build_post_path(@post)%></h4>
                <p class="timestamp">
                  Posted <%= time_ago_in_words(@post.created_at) %> ago.
                </p>
            <%else%>
                <h4><%= link_to raw(@post.title), build_post_path(@post)%></h4>
                <p class="timestamp">
                  Shared a <%= link_to raw("Link"), @post.url%></a>
                  <br>
                  Posted <%= time_ago_in_words(@post.created_at) %> ago.
                </p>
            <%end%>
        </div>
    </div>  
  <% end %>
  <br>
</div>



  
  
<%= will_paginate @posts %>