<div class="row">      
      
<% @user = User.find(params[:id]) %>

    <% if @user.modClubs.any? %>
    <div class="profile_ban">
        <h1>Manage your Clubs (<%= @user.modClubs.count %>) 
            <span><% @user = User.find(params[:id]) %></span>
        </h1>
        <span><% @clubs.each do |club| %>
    
                    <%if club.is_moderator?(@user) %>
                        <span><%= image_tag(club.club_avatar.url(:thumb)) %>
                        &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to club.name, manage_club_path(path: club.path) %>
                        </span> 
                    <% end %>
                <% end %>
    <% else %>
        <br>
        <br>
        <h1>
            You don't have any club right now.
            <% if @user == current_user %>
                <% if current_user.admin? %>
                    <%= link_to "Create New Club", new_club_path %>
                <% else %>
                    <%= link_to "Click here to join one!", clubs_path %>
                <% end %>    
            <% end %>
        </h1>
    <% end %>
        
    </div>

</div>