<% provide(:title, @user.name) %>

 



  <div class="row">      
      
      
         <% @user = User.find(params[:id]) %>
          <div class="avatar_edit">
            <%= image_tag(current_user.avatar.url(:thumb)) %>
            <span class="username_tag">
              <h1><%= @user.name %></h1>
              <p>Email: <%= @user.email %></p>
            </span>
          </div>
          

      <div class="profile_ban">
        <h1>Profile
        <span><% @user = User.find(params[:id]) %>
          <% if @user==current_user %>
          <%= link_to "Edit Profile", edit_user_path %>
        <% end %></span></h1>
        <span>First Name: <%= @user.firstname %></span>
        <span>Last Name: <%= @user.lastname %></span>
        <span>Gender: <%= @user.gender %></span>
        <span>Birthday: </span>
        <span>Phone Number: <%= @user.phone %></span>
        <span>Degree: <%= @user.degree %></span>
        <span>Major: <%= @user.major %></span>
        <h1>User Stat
        <span><% @user = User.find(params[:id]) %>
          <% if @user==current_user %>
          <%= link_to "Manage your clubs", manage_user_path %>
        <% end %></span></h1>
        
        <span><% if @user.clubs.any? %>
           clubs (<%= @user.clubs.count %>)
           <% end %></span>
        <span><% if @user.posts.any? %>
           posts (<%= @user.posts.count %>)
           <% end %></span>   
        
      </div>
    

 
  </div>
