<% provide(:title, @user.name) %>

 



<div class="row">      
      
      
         <% @user = User.find(params[:id]) %>
          <div class="avatar_edit">
            <%= image_tag(@user.avatar.url(:thumb)) %>
            <span class="username_tag">
              <h1><%= @user.name %></h1>
              <p>&emsp;</p>
            </span>
          </div>
          
    <% if logged_in? %>
      <% if @user==current_user %>
    <%= month_calendar events: @posts  do |date, post| %>
        <%= date.day %>
        <% post.each do |post| %>
            <div>
            <% if post.option =="isEvent" %>
                <% @club=post.club %>
                <% if @club.is_member?(current_user) %>
                    <%= link_to post.title, build_post_path(post) %>
                <%end%>
            <%end%>
            </div>
        <% end %>
    <%end%>
    <%end%>
    <%end%>
      <div class="profile_ban">
        <h1>Profile
        <span><% @user = User.find(params[:id]) %>
          <% if @user==current_user %>
          <%= link_to "Edit Profile", edit_user_path %> |
          <%= link_to "Moderator Invitations", moderator_invitations_user_path %> (<%= @user.mod_requests.count %>)
        <% end %></span></h1>
        <span>Email: <%= @user.email %></span>
        <span>First Name: <%= @user.firstname %></span>
        <span>Last Name: <%= @user.lastname %></span>
        <span>Gender: <%= @user.gender %></span>
        <span>Birthday: <%= @user.birthday %></span>
        <span>Phone Number: <%= @user.phone %></span>
        <span>Degree: <%= @user.degree %></span>
        <span>Major: <%= @user.major %></span>

      </div>
</div>
