<%= form_for(@post, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      
      <%= f.label :context %>
      <%= f.text_area :context, class: 'form-control', rows: "10" %>
    
      <%= f.label :url, 'Share a URL' %>
      <%= f.text_field :url, class: 'form-control' %>
      
       <%= f.label :option,  "Posts" %>
       <%= f.radio_button :option, "true", :checked => true%>
   
      <%= f.label :option, "Event" %>
      <%= f.radio_button :option, "false", :onclick => 'render_partial("partial-area");'%>
         
<script>
      $(document).ready(function(){
        $('input[type="radio"]').click(function(){
        if($(this).attr("value")=="false"){
            $("#partial-area").show(); 
        }
        if($(this).attr("value")=="true"){
            $("#partial-area").hide();
        }
    });
});
</script>

<div id="partial-area" style="display:none;">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  

</div>      
      
      <%#= f.hidden_field :clubpath , :value => @club.path %> 
      <%#= f.text_field :clubpath, class: 'form-control' %>
      <%= hidden_field_tag :club_path, @club.path %>
      
      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control' %>

  	<br>
      <%= f.submit "Create post", class: "btn btn-primary" %>

      
<% end %>