<%= form_for(@post, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      
      <%= f.label :context %>
      <%= f.text_area :context, class: 'form-control', rows: "10" %>
    
      <%= f.label :url %>
      <%= f.text_field :url, class: 'form-control' %>

      <%= hidden_field_tag :club_path, @club.path %>
      
      <span class="picture">
            <%= f.file_field :picture %>
      </span>
      
      <%= f.submit "Create post", class: "btn btn-primary" %>

      
<% end %>