<div id = "post_show" class = "row" >
    <div class = "col-md-8 col-md-offset-2">
        <div class = "panel panel-default">
            <div class = "panel-body">
                <h4><%=@post.title%></h4>
            </div>
            <div class = "panel-heading pin_image">
                <% if @post.picture? %>
                    <%= link_to (image_tag @post.picture), @post.url %>
                <% end %>
                <%= image_tag @post.image.url if @post.image? %>
            </div>
            
            <div class = "panel-body">
                <% if @post.option=="isEvent" %>
                    Event Date: <%=@post.start_time.year %>-<%=@post.start_time.month %>-<%=@post.start_time.day %> 
                <%end%>
                <p class = "description" style="white-space: pre-wrap; color:black;"><%=@post.context%></p>
            </div>
            
            <div class = "panel-footer">
                <div class = "row">
                    <div class = "col-md-6">
                        <p class = "user">Submitted by <%=@post.user.name%> </p>
                    </div>
                    <div class = "col-md-6">
                        <div class = "btn btn-group pull-right">
                            
                            <%= link_to like_post_path(@post), method: :put, class: "btn btn-default"  do %>
                                <span class="glyphicon glyphicon-heart"></span>
                                <%= @post.get_upvotes.size %>
                            <% end %>
                            
                            <% if logged_in? %>
                             <% if @post.is_owner?(current_user) %>
                                 <%= link_to "Edit", edit_post_path(@post), class: "btn btn-default" %>
                                 <%= link_to "Delete Post", post_path(@post), method: :delete,
                                       data: { confirm: "You sure?" }, class: "btn btn-default" %>
                             <% end %>
                            <% end %> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>