
<div id="top-link-block">
    <span class="well well-sm">
        <i class="glyphicon glyphicon-chevron-left"></i> <%= link_to "Back to Posts" , view_club_path %>
    </span>
</div>

<!-- render content of the post -->
<%= render 'show' %>

<% if logged_in? %>
    <%= render 'comments/form' %>
<% end %>

<!-- renders all the comments in the current post -->
<div class = "row">
    <div class="col-md-8 col-md-offset-2 ">
        <h3>Comments (<%= @post.comments.count %>)</h3>
        <ol class ="comments">
            <%#= render @post.comments %>
            <%= nested_messages @post.comments.arrange(order: 'created_at desc') %>
        </ol>
    </div>
</div>


