
<div id="top-link-block">
    <span class="well well-sm">
        <i class="glyphicon glyphicon-chevron-left"></i> <%= link_to "Back to Posts" , view_club_path %>
    </span>
</div>

<!-- render content of the post -->
<%= render 'show' %>

<% if logged_in? %>
    <%= render 'comments/form' %>
<% end %>

<!-- renders all the comments in the current post -->
<div class="col-md-8">
    <% if @post.comments.any? %>
      <h3>Microposts (<%= @post.comments.count %>)</h3>
      <ol class="microposts">
        <%= render @post.comments %>
      </ol>
    <% end %>
</div>>