
<%= image_tag @post.image.url(:medium) if @post.image? %>
<%= image_tag @post.picture if @post.picture? %>

<h4><%=@post.title%></h4>
<p><%=@post.context%></p>

<br>
<p>Submitted by <%=@post.user.name%> </p>
