<!--
<footer class="footer">
  <small>
    Copyright &copy CMPT276 G4 - Fall 2015 All Rights reserved.
  </small>
  <nav>
    <ul>
      <li><%#= link_to "Terms",   welcome_terms_path %></li>
      <li><%#= link_to "Privacy", welcome_privacy_path %></li>
      <li><%#= link_to "Help",   welcome_help_path %></li>
      <li><%#= link_to "About",   welcome_about_path %></li>
      <li><%#= link_to "Contact", welcome_contact_path %></li>
    </ul>
  </nav>
</footer>
-->






<div id="footer">
  <nav>
    <div class = "container">
          <ul class = "footer-ul">
            | <%= link_to "Map and Direction", welcome_map_path %> |
            | <%= link_to "Terms",   welcome_terms_path %> |
            | <%= link_to "Privacy", welcome_privacy_path %> |
            | <%= link_to "Help",   welcome_help_path %> |
            | <%= link_to "About",   welcome_about_path %> |
            | <%= link_to "Contact", welcome_contact_path %> |
          </ul>
          <p class="footer-info">
              Copyright &copy CMPT276 G4 - Fall 2015 All Rights reserved.
          </p>
    </div>
  </nav>
</div>
