<!--
<footer class="footer">
  <small>
    Copyright &copy CMPT276 G4 - Fall 2015 All Rights reserved.
  </small>
  <nav>
    <ul>
      <li><%#= link_to "Terms",   welcome_terms_path %></li>
      <li><%#= link_to "Privacy", welcome_privacy_path %></li>
      <li><%#= link_to "Help",   welcome_help_path %></li>
      <li><%#= link_to "About",   welcome_about_path %></li>
      <li><%#= link_to "Contact", welcome_contact_path %></li>
    </ul>
  </nav>
</footer>
-->



<div class = "g4-footer">
  <div class = "container">
    <div class = "footer-logo">
        <img><%= image_tag('logo.png', id: "logo") %></img>
      </div>
      <div class = "footer-group-primary">
        <ul class = "footer-nav">
          <li><%= link_to "Terms",   welcome_terms_path %></li>
          <li><%= link_to "Privacy", welcome_privacy_path %></li>
          <li><%= link_to "Help",   welcome_help_path %></li>
          <li><%= link_to "About",   welcome_about_path %></li>
          <li><%= link_to "Contact", welcome_contact_path %></li>
        </ul>
        <p class="footer-info">
            Copyright &copy CMPT276 G4 - Fall 2015 All Rights reserved.
        </p>
      </div>
      
    
  </div>
</div>



